@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header.navbar-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; /* Mengubah properti margin-inline menjadi margin */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 1rem;
    z-index: 999;
} 

header.navbar-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
    list-style-type: none; /* Menambahkan properti untuk menghilangkan titik */
}

header.navbar-container .nav-list li {
    list-style-type: none;
}

header.navbar-container .nav-list li a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 999px;
    transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
    background-color: #425c77;
    color: white;
}

main {
    max-width: 1200px; /* Menambahkan "px" setelah angka max-width */
    width: 100%;
    margin: 0 auto; /* Mengubah properti margin-inline menjadi margin */
    padding: 2rem 4rem;
    flex: 1;
    display: flex;
    align-items: center;
}

main .content {
    flex: 1;
    display: flex;
    align-content: center;
}

main .content .content-description {
    flex: 1 1;
}

main .content .content-description .title {
    font-size: 3.5rem;
    margin-block: 1rem;
}

main .content .content-description p {
    line-height: 1.7rem;
    font-size: 1.2rem;
}
main .content .content-description button {
    padding: 0.8rem 2.5rem;
    margin-top: 1rem; /* Mengubah properti margin-block-start menjadi margin-top */
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: black;
    border: 3px solid transparent;
    border-radius: 999px;
    background-color: #7da3cc;
    cursor: pointer;
    transition: all 0.15s ease-in;
}
main .content .content-description button a {
    text-decoration: none; /* Menghilangkan garis bawah pada tautan di dalam tombol */
    color:black;
}
main .content .content-description button:hover {
    border: 3px solid #2d3e50;
    background-color: transparent;
}
main .content .content-image{
    flex:1;
    display: flex;
}
main .content .content-image img{
    margin: auto;
    min-width: 250px;
    width: 350px;
}
